/* Basisopmaak voor de game-holder container */
.game-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
    width: 100%;
}

/* Box-stijlen voor game controls */
.box-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    width: 100%;
}

/* Stijl voor de .row container */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
}

/* Box voor de kleur- en snelheid-instellingen */
.color-speed-controls,
.grid-timer-population {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* Groeperen van color en speed controls */
.color-speed-controls {
    align-items: center;
}

/* Groeperen van grid size, timer, population en knoppen */
.grid-timer-population {
    flex-wrap: wrap;
    gap: 10px;
}

/* Stijl voor knoppen */
.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.button-game {
    margin: 0;
    padding: 8px 20px;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid #221;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, font-size 0.3s, box-shadow 0.3s, background 0.3s;
    cursor: pointer;
}

.button-game:hover {
    background-color: #221;
    color: #fff; 
    font-size: 20px;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.button-game:active {
    transform: translateY(0);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

/* Inputvelden styling */
input[type="color"], 
input[type="range"], 
input[type="number"] {
    margin: 5px;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Populatie teller en Timer */
#score,
#timer {
    font-size: 18px;
    font-weight: bold;
    color: #221;
}

/* Stijl voor het grid-element. Zorgt ervoor dat het grid wordt gecentreerd op de pagina. */
#grid {
    display: grid;
    margin: 0 auto;
}

/* Stijl voor de cellen binnen het grid. Bepaalt de afmetingen, achtergrondkleur en rand van elke cel. */
.cell {
    width: 20px;
    height: 20px;
    background-color: red;
    border: 2px solid black;
    cursor: pointer;
}

/* Stijl voor een actieve cel binnen het grid. Verandert de achtergrondkleur van de cel wanneer deze actief is. */
.cell.active {
    background-color: #333;
}